.products-heading {
  color: #475569;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
}
.product-sections {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  max-width: 1110px;
}
@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.product{
  text-decoration: none;
}
